@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Base Palette */
  --color-blue-darkest: #0d2b45;
  --color-blue-dark: #203c56;
  --color-purple-muted: #544e68;
  --color-purple-light: #8d697a;
  --color-orange-dark: #d08159;
  --color-orange: #ffaa5e;
  --color-orange-light: #ffd4a3;
  --color-cream: #ffecd6;

  /* Light Theme */
  --light-background: var(--color-orange-light);
  --light-foreground: var(--color-blue-darkest);
  --light-header-bg: var(--color-orange-dark);
  --light-header-foreground: var(--color-orange-light);
  --light-header-foreground-hover: var(--color-orange-light);
  --light-card-bg: #ffffff;
  --light-muted-text: var(--color-purple-muted);
  --light-border: #333333;

  /* Dark Theme */
  --dark-background: var(--color-blue-darkest);
  --dark-foreground: var(--color-cream);
  --dark-header-bg: var(--color-blue-dark);
  --dark-header-foreground: var(--color-orange);
  --dark-header-foreground-hover: var(--color-orange);
  --dark-card-bg: #1a1a1a;
  --dark-muted-text: var(--color-purple-light);
  --dark-border: #e0dcd7;
}

body {
  font-family: var(--font-m-plus-rounded), var(--font-inter), sans-serif;
}

@layer components {
  /* ? Light Underline For Darker Backgrounds */
  .underline-hover {
    @apply relative;
  }

  .underline-hover::after {
    content: '';
    @apply absolute -bottom-1 left-0 h-[2px] w-0 bg-[var(--light-header-foreground-hover)] transition-all duration-150 ease-in-out;
  }

  .underline-hover:hover::after {
    @apply w-full;
  }

  .dark .underline-hover::after {
    @apply bg-[var(--dark-header-foreground)];
  }

  /* ? Black Underline For Lighter Backgrounds */
  .black-underline-hover {
    @apply relative;
  }

  .black-underline-hover::after {
    content: '';
    @apply absolute -bottom-1 left-0 h-[2px] w-0 bg-black transition-all duration-150 ease-in-out;
  }

  .black-underline-hover:hover::after {
    @apply w-full;
  }

  .dark .black-underline-hover::after {
    @apply bg-[var(--dark-header-foreground)];
  }

  .line-beside::after {
    content: '';
    @apply inline-block h-[0.5rem] rounded bg-[var(--light-foreground)];
    width: var(--after-width, 0%);
  }

  .dark .line-beside::after {
    @apply bg-[var(--dark-foreground)];
  }
}
